doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/css/style.css')
    body
        table.cart
            tr.total
                td(colspan=4) Order Details
            tr.total
                td(colspan=3) Order #:
                td= orderId
            tr.total
                td(colspan=3) Email:
                td= email
            tr.total
                td(colspan=3) Phone:
                td= phone
            tr.total
                td(colspan=4) Goods
            tr
                th Name
                th Price
                th Quantity
                th Cost
            each product in products
                tr.product(data-id= product.id)
                    td.name= product.name
                    td.price= product.price + ' UAH'
                    td.quantity= product.quantity
                    td.cost= product.cost + ' UAH'
            tr.total
                td(colspan=3) Total Cost:
                td= total + ' UAH'